{% extends "base.html" %}

{% load humanize %}

{% block page_title %}Dictionaries{% endblock %}

{% block body_content %}
<main>
  <nav>
    <h3><a href="{% url 'home' %}">Scaife ATLAS</a></h3>
  </nav>
  <h1 class="list-page">Dictionaries</span></h1>

  <div>
    {% for dictionary in dictionary_list %}
      <div class="object-list-item">
        <h2><a href="{% url 'dictionaryentry_detail' dictionary.first_entry.urn %}">{{ dictionary.label }}</a></h2>
        <div><tt>{{ dictionary.urn }}</tt></div>
        {% if dictionary.data %}<pre>{{ dictionary.data }}</pre>{% endif %}
        <div>
          <b>{{ dictionary.entries.count|intcomma }}</b> entries;
          <b>{{ dictionary.senses.count|intcomma }}</b> senses;
          <b>{{ dictionary.citations.count|intcomma }}</b> citations
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}