{% extends "base.html" %}

{% load humanize %}

{% block page_title %}Dictionaries{% endblock %}

{% block body_content %}
<main>
  <nav>
    <h3><a href="{% url 'home' %}">Scaife ATLAS</a></h3>
  </nav>
  <h1 class="list-page">Dictionaries</span></h1>

  <div>
    {% for dictionary in dictionary_list %}
      <div style="border: 1px solid #999; padding: 0.5rem 1rem; margin-bottom: 1rem;">
        <h2 style="margin-block: 0; font-weight: normal;"><a href="{% url 'dictionaryentry_detail' dictionary.first_entry.urn %}" style="color: #b45141; text-decoration: none;">{{ dictionary.label }}</a></h2>
        <div><tt>{{ dictionary.urn }}</tt></div>
        {% if dictionary.data %}<pre>{{ dictionary.data }}</pre>{% endif %}
        <div><b>{{ dictionary.entries.count|intcomma }}</b> entries</div>
        {% comment %}
        <div><b>{{ dictionary.senses.count|intcomma }}</b> senses</div>
        <div><b>{{ dictionary.citations.count|intcomma }}</b> citations</div>
        {% endcomment %}
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}