{% extends 'base.html' %}

{% load humanize %}

{% block page_title %}
  {{ dictionaryentry.headword }} — {{ dictionaryentry.dictionary }}
{% endblock %}

{% block extra_style %}
  {% include 'dictionaries/_styles.css' %}
  
  h2 {
    margin-bottom: 0.4rem;
  }
  h2.dictionary-name {
    margin-block: 0.5rem;
  }
  .debugging > div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem 0.5rem;
  }
  .debugging > div:nth-child(odd) {
    background-color: #EEE;
  }
  .debugging > div > div:first-child {
    flex: 1; color: #666;
  }
  .debugging > div > div:last-child {
    flex: 1;
  }

  .flex {
    display: flex;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-3 {
    flex: 3;
  }

  .entry, .shortdef {
    font-size: 14pt;
  }
{% endblock %}

{% block body_content %}
  <main>
    <div class="flex">
      <div class="flex-1">
        <h3 style="color: #666; font-weight: 500; margin-bottom: 0;"><a href="{% url 'home' %}" style="color: #666; text-decoration: none;">Scaife ATLAS</a></h3>
        <div>
          <a href="{% url 'dictionary_list' %}" style="color: #b45141; text-decoration: none;">Back to dictionaries</a>
        </div>

        <h2 class="dictionary-name">{{ dictionaryentry.dictionary }}</h2>

        {% for entry in view.previous_entries %}
          <div>
            <a href="{% url 'dictionaryentry_detail' entry.urn %}" class="link-{{ forloop.revcounter }}" style="text-decoration: none;">{{ entry.headword }}</a>
          </div>
        {% endfor %}
        <div>
          <a href="{% url 'dictionaryentry_detail' dictionaryentry.urn %}" style="color: #000; font-weight: bold; text-decoration: none;">{{ dictionaryentry.headword }}</a>
        </div>
        {% for entry in view.next_entries %}
          <div>
            <a href="{% url 'dictionaryentry_detail' entry.urn %}" class="link-{{ forloop.counter }}" style="text-decoration: none;">{{ entry.headword }}</a>
          </div>
        {% endfor %}
      </div>

      <div class="flex-3" style="margin-top: 4rem;">
        <div style="text-align: right; xmargin-bottom: 0.5rem;">
          <a href="{% url 'headword_detail' dictionaryentry.headword_normalized %}">View word page</a>
        </div>
        <div class="entry">
          {% if dictionaryentry.data.headword_display %}
            <div>{{ dictionaryentry.data.headword_display|safe }}</div>
          {% else %}
            <div>
              <b>{{ dictionaryentry.headword }}</b>
            </div>
          {% endif %}
          <div>{{ dictionaryentry.intro_text|safe }}</div>
          <ul>
            {% include 'dictionaries/sensenodes.html' with sense_list=view.entry_senses.all %}
          </ul>
        </div>

        <h2>ShortDef</h2>

        {% for entry in view.shortdef %}
          <div class="shortdef">{{ entry.data.content }}</div>
        {% empty %}
          <div>No short def.</div>
        {% endfor %}

        <h2>Debugging</h2>

        <div class="debugging">
          <div>
            <div>Headword:</div>
            <div>{{ dictionaryentry.headword }}</div>
          </div>
          <div>
            <div>Headword (normalized):</div>
            <div>{{ dictionaryentry.headword_normalized }}</div>
          </div>
          <div>
            <div>Headword (normalized/stripped):</div>
            <div>{{ dictionaryentry.headword_normalized_stripped }}</div>
          </div>
          <div>
            <div>Intro Text:</div>
            <div>{{ dictionaryentry.intro_text|safe }}</div>
          </div>
          <div>
            <div>IDX:</div>
            <div>{{ dictionaryentry.idx }}</div>
          </div>
          <div>
            <div>URN:</div>
            <div>
              <tt>{{ dictionaryentry.urn }}</tt>
            </div>
          </div>
          <div>
            <div>Key:</div>
            <div>{{ dictionaryentry.data.key }}</div>
          </div>
        </div>

        <h2>Senses and Citations (From Data)</h2>

        <div>
          {% for sense in dictionaryentry.data.senses %}
            <div style="margin-bottom: 1rem; border: 1px solid #DDD; padding: 0.5rem;">
              <div class="flex">
                <div class="flex-1">{{ sense.label }}</div>
                <div><tt>{{ sense.urn }}</tt></div>
              </div>
              <div class="text-xl">{{ sense.definition }}</div>
              {% if sense.citations %}
                <div style="margin-top: 1rem;">
                  <div>Citations ({{ sense.citations|length }})</div>
                  {% for citation in sense.citations %}
                    <div style="margin-top: 0.5rem; border: 1px solid #DDD; padding: 0.5rem;">
                      <div><tt>{{ citation.urn }}</tt></div>
                      <div class="flex">
                        <div class="flex-1">{{ citation.data.ref }}</div>
                        <div class="flex-1">{% if citation.data.quote %}{{ citation.data.quote }}{% endif %}</div>
                        <div class="flex-3"><tt><small>{{ citation.data.urn}}</small></tt></div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <h2>Senses and Citations (From Models)</h2>

        <p>TODO</p>
  
        <h2>Data</h2>
        <div>
          <pre>{{ dictionaryentry.pp_data }}</pre>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
