<tr>
  <th width="10%">1SG</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.s.1 %}
</tr>
<tr>
  <th width="10%">2SG</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.s.2 %}
</tr>
<tr>
  <th width="10%">3SG</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.s.3 %}
</tr>
<tr>
  <th width="10%">1DU</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.d.1 %}
</tr>
<tr>
  <th width="10%">2DU</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.d.2 %}
</tr>
<tr>
  <th width="10%">3DU</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.d.3 %}
</tr>
<tr>
  <th width="10%">1PL</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.p.1 %}
</tr>
<tr>
  <th width="10%">2PL</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.p.2 %}
</tr>
<tr>
  <th width="10%">3PL</th>
  {% include "morphology/_finite_paradigm_row.html" with c=m.p.3 %}
</tr>