{% extends "base.html" %}

{% load humanize %}

{% block body_content %}
<main>
  <nav>
    <h3><a href="{% url 'home' %}">Scaife ATLAS</a></h3>
  </nav>
  <h1 class="list-page">Audio Annotations <span>({{ audioannotation_list|length|intcomma }})</span></h1>

  <div>
    {% for annotation in audioannotation_list %}
      <div style="border: 1px solid #999; padding: 0.5rem 1rem; margin-bottom: 1rem;">
        <h2 style="margin-block: 0; font-weight: normal;">{{ annotation.urn }}</h2>
        <div>References: {{ annotation.data.references }}</div>
        <div>Attribution: {{ annotation.data.attribution }}</div>
        <div>
          <audio controls src="{{ annotation.asset_url }}"></audio>
        </div>
        <div>{{ annotation.asset_url }}</div>
        <div>{{ annotation.idx }}</div>
        <div>{{ annotation.text_parts.all }}</div>
        <div>{{ annotation.data }}</div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}