{% extends "base.html" %}

{% load humanize %}

{% block page_title %}Nodes{% endblock %}

{% block body_content %}
<main>
  <nav>
    <h3><a href="{% url 'home' %}">Scaife ATLAS</a></h3>
  </nav>
  <h1 class="list-page">Nodes</span></h1>

  <div>
    {% for node in node_list %}
      <div style="border: 1px solid #999; padding: 0.5rem 1rem; margin-bottom: 1rem;">
        <h2 style="margin-block: 0; font-weight: normal;"><a href="{% url 'node_detail' node.urn %}" style="color: #b45141; text-decoration: none;">{{ node.label }}</a></h2>
        <div><tt>{{ node.urn }}</tt></div>
        <pre>{{ node.data }}</pre>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
