{% extends "base.html" %}

{% load humanize %}

{% block page_title %}{{ node.label }} ({{ node.kind }}){% endblock%}

{% block body_content %}
<main>
  <nav>
    <h3><a href="{% url 'home' %}">Scaife ATLAS</a></h3>
    <div>
      <a href="{% url 'rootnode_list' %}" style="color: #b45141; text-decoration: none;">
        Nodes
      </a>
      {% for ancestor in node.get_ancestors %}
        /
        <a href="{% url 'node_detail' ancestor.urn %}" style="color: #b45141; text-decoration: none;">
          {{ ancestor.label }}
        </a>
      {% endfor %}
    </div>
  </nav>
  <h1 style="font-weight: 500; margin-top: 0;">
    {{ node.label }}
    ({{ node.kind }})
  </h1>

  <div><tt>{{ node.urn }}</tt></div>
  <div style="margin-bottom: 3em;">Descendant Count: {{ node.get_descendant_count|intcomma }}</div>

  {% if node.ref %}
    <div>REF: {{ node.ref }}</div>
  {% endif %}
  {% if node.text_content %}
    <div style="font-size: 1.2em; margin-bottom: 3em; border: 1px solid #999; padding: 4px 8px;">{{ node.text_content }}</div>
  {% endif %}

  <div style="display: flex; justify-content: space-between;">
  <div>
    {% if node.get_prev_sibling %}
      <a href="{% url 'node_detail' node.get_prev_sibling.urn %}" style="color: #b45141; text-decoration: none;">
        PREV ({{ node.get_prev_sibling.label }})
      </a>
    {% endif %}
    </div>
    <div>
  {% if node.get_next_sibling %}
    <a href="{% url 'node_detail' node.get_next_sibling.urn %}" style="color: #b45141; text-decoration: none;">
      NEXT ({{ node.get_next_sibling.label }})
    </a>
  {% endif %}
  </div>
  </div>

  <div style="margin-top: 2em;">
    <h2>Metadata</h2>
    <tt>{{ node.metadata }}</tt>
  </div>

  <div style="margin-top: 2em;">
    <h2>Tokens</h2>
    <table>
      <tr>
        <th>Value</th>
        <th>Word Value</th>
        <th>Subref Value</th>
        <th>Position</th>
        <th>Index</th>
        <th>VE Ref</th>
        <th>Space After</th>
        <th>Alignments</th>
      </tr>
      {% for token in node.tokens.all %}
        <tr>
          <td>{{ token.value }}</td>
          <td>{{ token.word_value }}</td>
          <td>{{ token.subref_value }}</td>
          <td>{{ token.position }}</td>
          <td>{{ token.idx }}</td>
          <td>{{ token.ve_ref }}</td>
          <td>{{ token.space_after }}</td>
          <td>
            {% for relation in token.alignment_record_relations.all %}
              <a href="{% url 'textalignment_detail' relation.record.alignment.urn %}">
                {{ relation.record.alignment.label }}
              </a>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div style="margin-top: 2em;">
  {% for child in node.get_children %}
      <div style="border: 1px solid #999; padding: 0.5rem 1rem; margin-bottom: 1rem;">
      <h2 style="margin-block: 0; font-weight: normal;"><a href="{% url 'node_detail' child.urn %}" style="color: #b45141; text-decoration: none;">{{ child.label }}</a></h2>
      <div><tt>{{ child.urn }}</tt></div>
      <pre>{{ child.data }}</pre>
      </div>
  {% endfor %}
  </div>
</main>
{% endblock %}