{% extends "base.html" %}

{% load humanize %}

{% block head_title %}Scaife ATLAS v2{% endblock %}

{% block body_content %}
<main>
  <header>
    <h1>Scaife ATLAS <span>v2</span></h1>
    <h3>Aligned Text and Linguistic Annotation Server</h3>
  </header>

  <div class="notice">
    This is an experimental server, a step towards one component of Perseus 6 that will provide the data and services for the reading environment.
    However, it is possible to browse the data and annotations here and some features of the reading environment are being prototyped.
  </div>

  <div style="display: flex; gap: 2em; justify-content: space-between;">
    <section style="flex: 100%;">
      <h2>Lemmas</h2>
      <div class="text-lg"><b>{{ view.counts.lemmas|intcomma }}</b> lemmas</div>

      <form action="{% url 'lemma_list' %}">
        <div style="display: flex; gap: 0.25em;">
          <select name="lang">
            <option value="grc">Ancient Greek</option>
            <option value="ang">Old English</option>
          </select>
          <input type="text" name="q" placeholder="Look up lemma">
        </div>
      </form>
      <div>
        or browse all lemmas for:
        <a href="{% url 'lemma_list' %}?lang=grc">Ancient Greek</a>
        &bull;
        <a href="{% url 'lemma_list' %}?lang=ang">Old English</a>
      </div>
    </section>

    <section style="flex: 100%;">
      <h2>Forms</h2>
      <div class="text-lg"><b>{{ view.counts.forms|intcomma }}</b> forms</div>

      <form action="{% url 'form_list' %}">
        <div style="display: flex; gap: 0.25em;">
          <select name="lang">
            <option value="grc">Ancient Greek</option>
            <option value="ang">Old English</option>
          </select>
          <input type="text" name="q" placeholder="Look up form">
        </div>
      </form>
      <div>
        or browse all forms for:
        <a href="{% url 'form_list' %}?lang=grc">Ancient Greek</a>
        &bull;
        <a href="{% url 'form_list' %}?lang=ang">Old English</a>
      </div>
    </section>

  </div>

  <section class="text-lg">
    <div>
      Tokens
      (<b>{{ view.counts.tokens|intcomma }}</b>)
    </div>
    <div>
      <a href="{% url 'rootnode_list' %}">Nodes</a>
      (<b>{{ view.counts.nodes|intcomma }}</b>)
    </div>
    <div>
      <a href="{% url 'dictionary_list' %}">Dictionaries</a>
      (<b>{{ view.counts.dictionary_entries|intcomma }}</b> Entries
      in <b>{{ view.counts.dictionaries|intcomma }}</b> Dictionaries)
    </div>
    <div>
      <a href="{% url 'textannotationcollection_list' %}">Text Annotations</a>
      (<b>{{ view.counts.text_annotations|intcomma }}</b>
      in <b>{{ view.counts.text_annotation_collections|intcomma }}</b> Collections)
    </div>
    <div>
      <a href="{% url 'textalignment_list' %}">Text Alignments</a>
      (<b>{{ view.counts.text_alignment_records|intcomma }}</b> Records
      in <b>{{ view.counts.text_alignments|intcomma }}</b> Collections)
    </div>
    <div>
      <a href="{% url 'attributionrecord_list' %}">Attributions</a>
      (<b>{{ view.counts.attribution_people|intcomma }}</b> People;
      <b>{{ view.counts.attribution_organizations|intcomma }}</b> Organizations;
      <b>{{ view.counts.attribution_records|intcomma }}</b> Records)
    </div>
    <div>
      <a href="{% url 'namedentitycollection_list' %}">Named Entities</a>
      (<b>{{ view.counts.named_entities|intcomma }}</b>
      in <b>{{ view.counts.named_entity_collections|intcomma }}</b> Collections)
    </div>
    <div>
      <a href="{% url 'metricalannotation_list' %}">Metrical Annotations</a>
      (<b>{{ view.counts.metrical_annotations|intcomma }}</b>)
    </div>
    <div>
      Audio Annotations
      (<b>{{ view.counts.audio_annotations|intcomma }}</b>)
    </div>
    <div>
      Image Annotations
      (<b>{{ view.counts.image_annotations|intcomma }}</b>)
    </div>
  </section>

  <section>
    <h2><a href="{% url 'library' %}">CTS Library</a></h2>
    <div class="text-lg">
      {{ view.library.text_groups|length|intcomma }}</b> text groups;
      {{ view.library.works|length|intcomma }}</b> works; 
      {{ view.library.texts|length|intcomma }}</b> texts
    </div>
  </section>

</main>
{% endblock %}
